abc($width=null, $height=null) 
  position: absolute
  top: 50%
  left: 50%
  if not $width and not $height {
    transform: translate(-50%, -50%)
  }else if $width and $height {
    width: $width
    height: $height
    margin: -($height / 2) #{0 0} -($width / 2)
  }else if not $height {
    width: $width
    margin-left: -($width / 2)
    transform: translateY(-50%)
  }else {
    height: $height
    margin-top: -($height / 2)
    transform: translateX(-50%)
  }


//多行超出省略号
ellipsis($line=2, $line-height=1.2) 
  overflow: hidden
  text-overflow: ellipsis
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: $line
  line-height: $line-height

clear() 
  &:after 
    content: '.'
    clear: both
    display: block
    width: 0
    height: 0
    visibility: hidden

    
        
    

    
